/MorpionFormation2.Android/obj/
/MorpionFormation2.Android/bin/
/MorpionFormation2.UWP/bin/
/MorpionFormation2.UWP/obj/
/MorpionFormation2/obj/
/MorpionFormation2/bin/
/.vs/MorpionFormation2/v16/.suo
